[submodule "external/squirrel"]
	path = external/squirrel
	url = https://github.com/MatusGuy/squirrel
	branch = lsp
[submodule "external/qtlanguageserver"]
	path = external/qtlanguageserver
	url = https://github.com/MatusGuy/qtlanguageserver
	branch = 6.6.0
